<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rank</title>
</head>
<body>
    <center>
        <a href="/new">
            <p><input type="button" value="新增成績" style="width:120px;height:40px;font-size:20px;"></p><br><br>        
        </a>

        <a href="/user">
            <p><input type="button" value="查詢個人" style="width:120px;height:40px;font-size:20px;"></p><br><br>
        </a>
        <form action="/users" method="GET" >
            <p><input type='submit' value='查詢全部' style="width:120px;height:40px;font-size:20px;"></p><br><br>
        </form>
    </center>
</body>
</html>

